body {
    background-color: burlywood;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.catscore {
    /* display: none; */
    background-color: whitesmoke;
}

td {
    text-align: right;
    min-width: 2em;
}

.die {
    font-size: xx-large;
    color: darkred;
    display: inline-block;
    width: 50px;
    text-align: center;
    cursor: no-drop;
}

.dieKeep {
    color: indianred;
    cursor: default;
}